<p id="notice"><%= notice %></p>

<p>
  <b>Taxon:</b>
  <%= @bone_taxon.taxon %>
</p>

<p>
  <b>Latin:</b>
  <%= @bone_taxon.latin %>
</p>

<p>
  <b>English:</b>
  <%= @bone_taxon.english %>
</p>

<p>
  <b>Taxon category:</b>
  <%= @bone_taxon.taxon_category_id %>
</p>

<p>
  <b>Mt wt ad:</b>
  <%= @bone_taxon.mt_wt_ad %>
</p>

<p>
  <b>Mt wt im:</b>
  <%= @bone_taxon.mt_wt_im %>
</p>

<p>
  <b>Txn order:</b>
  <%= @bone_taxon.txn_order %>
</p>

<p>
  <b>Taxon group category:</b>
  <%= @bone_taxon.taxon_group_category %>
</p>

<p>
  <b>Class category:</b>
  <%= @bone_taxon.class_category %>
</p>

<p>
  <b>Biomass category:</b>
  <%= @bone_taxon.biomass_category %>
</p>

<p>
  <b>Pg cow sg:</b>
  <%= @bone_taxon.pg_cow_sg %>
</p>

<p>
  <b>Idor unid:</b>
  <%= @bone_taxon.idor_unid %>
</p>

<p>
  <b>Wildor domestic:</b>
  <%= @bone_taxon.wildor_domestic %>
</p>

<p>
  <b>Bone type:</b>
  <%= @bone_taxon.bone_type %>
</p>


<%= link_to 'Edit', edit_bone_taxon_path(@bone_taxon) %> |
<%= link_to 'Back', bone_taxons_path %>
