<%= form_for(@tobacco_pipe_text_mark_type) do |f| %>
  <% if @tobacco_pipe_text_mark_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tobacco_pipe_text_mark_type.errors.count, "error") %> prohibited this tobacco_pipe_text_mark_type from being saved:</h2>

      <ul>
      <% @tobacco_pipe_text_mark_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pipe_text_mark_type %><br />
    <%= f.text_field :pipe_text_mark_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
