<%= form_for(@glass_bottle_manu_tech) do |f| %>
  <% if @glass_bottle_manu_tech.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@glass_bottle_manu_tech.errors.count, "error") %> prohibited this glass_bottle_manu_tech from being saved:</h2>

      <ul>
      <% @glass_bottle_manu_tech.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :glass_bottle_manu_tech %><br />
    <%= f.text_field :glass_bottle_manu_tech %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
