<%= form_for(@bone_measuring_description) do |f| %>
  <% if @bone_measuring_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bone_measuring_description.errors.count, "error") %> prohibited this bone_measuring_description from being saved:</h2>

      <ul>
      <% @bone_measuring_description.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :measuring_description %><br />
    <%= f.text_field :measuring_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
