<p id="notice"><%= notice %></p>

<p>
  <b>Context:</b>
  <%= @context_strat_rel.context %>
</p>

<p>
  <b>Context auto:</b>
  <%= @context_strat_rel.context_auto_id %>
</p>

<p>
  <b>Strat rel type:</b>
  <%= @context_strat_rel.strat_rel_type_id %>
</p>


<%= link_to 'Edit', edit_context_strat_rel_path(@context_strat_rel) %> |
<%= link_to 'Back', context_strat_rels_path %>
