<%= form_for(@buckle_dec_tech_type) do |f| %>
  <% if @buckle_dec_tech_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@buckle_dec_tech_type.errors.count, "error") %> prohibited this buckle_dec_tech_type from being saved:</h2>

      <ul>
      <% @buckle_dec_tech_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :buckle_dec_tech_type %><br />
    <%= f.text_field :buckle_dec_tech_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
