<%= form_for(@gen_artifact_dec_tech) do |f| %>
  <% if @gen_artifact_dec_tech.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gen_artifact_dec_tech.errors.count, "error") %> prohibited this gen_artifact_dec_tech from being saved:</h2>

      <ul>
      <% @gen_artifact_dec_tech.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :artifact_id %><br />
    <%= f.text_field :artifact_id %>
  </div>
  <div class="field">
    <%= f.label :gen_artifact_dec_tech_type_id %><br />
    <%= f.text_field :gen_artifact_dec_tech_type_id %>
  </div>
  <div class="field">
    <%= f.label :mun_app_color_id %><br />
    <%= f.text_field :mun_app_color_id %>
  </div>
  <div class="field">
    <%= f.label :decoration_notes %><br />
    <%= f.text_field :decoration_notes %>
  </div>
  <div class="field">
    <%= f.label :generate_context_artifact_id %><br />
    <%= f.text_field :generate_context_artifact_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
