<h1>Listing glass_mold_types</h1>

<table>
  <tr>
    <th>Mold type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @glass_mold_types.each do |glass_mold_type| %>
  <tr>
    <td><%= glass_mold_type.mold_type %></td>
    <td><%= link_to 'Show', glass_mold_type %></td>
    <td><%= link_to 'Edit', edit_glass_mold_type_path(glass_mold_type) %></td>
    <td><%= link_to 'Destroy', glass_mold_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Glass mold type', new_glass_mold_type_path %>
