<h1>Listing tobacco_pipe_text_frame_motifs</h1>

<table>
  <tr>
    <th>Pipe text frame motif</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tobacco_pipe_text_frame_motifs.each do |tobacco_pipe_text_frame_motif| %>
  <tr>
    <td><%= tobacco_pipe_text_frame_motif.pipe_text_frame_motif %></td>
    <td><%= link_to 'Show', tobacco_pipe_text_frame_motif %></td>
    <td><%= link_to 'Edit', edit_tobacco_pipe_text_frame_motif_path(tobacco_pipe_text_frame_motif) %></td>
    <td><%= link_to 'Destroy', tobacco_pipe_text_frame_motif, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tobacco pipe text frame motif', new_tobacco_pipe_text_frame_motif_path %>
