<%= form_for(@project_county) do |f| %>
  <% if @project_county.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_county.errors.count, "error") %> prohibited this project_county from being saved:</h2>

      <ul>
      <% @project_county.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :county %><br />
    <%= f.text_field :county %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
