<%= form_for(@context_elevation_location) do |f| %>
  <% if @context_elevation_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@context_elevation_location.errors.count, "error") %> prohibited this context_elevation_location from being saved:</h2>

      <ul>
      <% @context_elevation_location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :context_elevation_loc %><br />
    <%= f.text_field :context_elevation_loc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
