<p id="notice"><%= notice %></p>

<p>
  <b>Buckle dec tech type:</b>
  <%= @buckle_dec_tech.buckle_dec_tech_type_id %>
</p>

<p>
  <b>Artifact:</b>
  <%= @buckle_dec_tech.artifact_id %>
</p>

<p>
  <b>Buckle dec motif:</b>
  <%= @buckle_dec_tech.buckle_dec_motif_id %>
</p>

<p>
  <b>Generate context artifact:</b>
  <%= @buckle_dec_tech.generate_context_artifact_id %>
</p>


<%= link_to 'Edit', edit_buckle_dec_tech_path(@buckle_dec_tech) %> |
<%= link_to 'Back', buckle_dec_teches_path %>
