<h1>Listing project_place_names</h1>

<table>
  <tr>
    <th>Place name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @project_place_names.each do |project_place_name| %>
  <tr>
    <td><%= project_place_name.place_name %></td>
    <td><%= link_to 'Show', project_place_name %></td>
    <td><%= link_to 'Edit', edit_project_place_name_path(project_place_name) %></td>
    <td><%= link_to 'Destroy', project_place_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project place name', new_project_place_name_path %>
