<%= form_for(@button_decoration) do |f| %>
  <% if @button_decoration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@button_decoration.errors.count, "error") %> prohibited this button_decoration from being saved:</h2>

      <ul>
      <% @button_decoration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :button_decoration %><br />
    <%= f.text_field :button_decoration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
