<h1>Listing ceramic_completenesses</h1>

<table>
  <tr>
    <th>Ceramic completeness</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ceramic_completenesses.each do |ceramic_completeness| %>
  <tr>
    <td><%= ceramic_completeness.ceramic_completeness %></td>
    <td><%= link_to 'Show', ceramic_completeness %></td>
    <td><%= link_to 'Edit', edit_ceramic_completeness_path(ceramic_completeness) %></td>
    <td><%= link_to 'Destroy', ceramic_completeness, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ceramic completeness', new_ceramic_completeness_path %>
