<%= form_for(@utensil_plating) do |f| %>
  <% if @utensil_plating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utensil_plating.errors.count, "error") %> prohibited this utensil_plating from being saved:</h2>

      <ul>
      <% @utensil_plating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :utensil_plating %><br />
    <%= f.text_field :utensil_plating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
