<h1>Listing utensil_platings</h1>

<table>
  <tr>
    <th>Utensil plating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @utensil_platings.each do |utensil_plating| %>
  <tr>
    <td><%= utensil_plating.utensil_plating %></td>
    <td><%= link_to 'Show', utensil_plating %></td>
    <td><%= link_to 'Edit', edit_utensil_plating_path(utensil_plating) %></td>
    <td><%= link_to 'Destroy', utensil_plating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Utensil plating', new_utensil_plating_path %>
