<h1>Listing bone_elements</h1>

<table>
  <tr>
    <th>Bone element</th>
    <th>Body part</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bone_elements.each do |bone_element| %>
  <tr>
    <td><%= bone_element.bone_element %></td>
    <td><%= bone_element.body_part %></td>
    <td><%= link_to 'Show', bone_element %></td>
    <td><%= link_to 'Edit', edit_bone_element_path(bone_element) %></td>
    <td><%= link_to 'Destroy', bone_element, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bone element', new_bone_element_path %>
