<%= form_for(@glass_dec_tech_type) do |f| %>
  <% if @glass_dec_tech_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@glass_dec_tech_type.errors.count, "error") %> prohibited this glass_dec_tech_type from being saved:</h2>

      <ul>
      <% @glass_dec_tech_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :glass_dec_tech_type %><br />
    <%= f.text_field :glass_dec_tech_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
