<%= form_for(@button_join_method) do |f| %>
  <% if @button_join_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@button_join_method.errors.count, "error") %> prohibited this button_join_method from being saved:</h2>

      <ul>
      <% @button_join_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :button_join_method %><br />
    <%= f.text_field :button_join_method %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
