<%= form_for(@ceramic_use_wear_pattern) do |f| %>
  <% if @ceramic_use_wear_pattern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ceramic_use_wear_pattern.errors.count, "error") %> prohibited this ceramic_use_wear_pattern from being saved:</h2>

      <ul>
      <% @ceramic_use_wear_pattern.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :use_wear_pattern %><br />
    <%= f.text_field :use_wear_pattern %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
