<%= form_for(@utensil_fork_tine_count) do |f| %>
  <% if @utensil_fork_tine_count.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@utensil_fork_tine_count.errors.count, "error") %> prohibited this utensil_fork_tine_count from being saved:</h2>

      <ul>
      <% @utensil_fork_tine_count.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fork_tine_count %><br />
    <%= f.text_field :fork_tine_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
