<%= form_for(@bone_tooth_wear) do |f| %>
  <% if @bone_tooth_wear.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bone_tooth_wear.errors.count, "error") %> prohibited this bone_tooth_wear from being saved:</h2>

      <ul>
      <% @bone_tooth_wear.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tooth_wear %><br />
    <%= f.text_field :tooth_wear %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
