<script>
// alternating row color variables
var decoration_color = false;
var mark_color = false;

$(function() {
	$('.new-pipe-type').click(function() {
		// alert('a');
		$('#artifact_selection').val('pipe');
		$('#artifact_selection').trigger('chosen:updated')
		$('#project_selection').val('<%= @tobacco_pipe.project.ProjectID if @tobacco_pipe.project != nil %>');
		$('#project_selection').trigger('chosen:updated')
		var context = '<%= @tobacco_pipe.context_sample.ContextSampleID if @tobacco_pipe.context_sample != nil %>';
		update_contexts('#project_selection',context);

	})
	// capture Save button click
	$('#button-record-save').click(function (event) {
		console.log('local save');
		$('#active_tag').val($("ul li.active a").attr('href'));
		$('.edit_tobacco_pipe').submit();
		$('.new_tobacco_pipe').submit();
	});
	
	$('.delete-record').click(function(){
		$.ajax({
		  url: "/tobacco_pipes/<%= @tobacco_pipe.id %>",
		  type: "DELETE",
			statusCode: {
			    200: function() {
						$('#delete-alert-modal').modal('hide')
						window.location="/tobacco_pipes#success-deleted"
			    }
			  }
		});
	});
	
	// add new nested form item
	$('#decoration-add').click(function (event) {
		// alert(unsaved);
		$('.decoration-empty-relationship').hide();
		unsaved = true;
	  time = new Date().getTime();
	  regexp = new RegExp($(this).data('id'), 'g');
	  // $(this).before($(this).data('fields').replace(regexp, time));
		if(decoration_color == true) {
			decoration_color = false;
		  $('#decoration-elements').append($(this).data('fields').replace(regexp, time).replace('"block "', '"block colored"').replace('_NUM_',time));
		} else {
			decoration_color = true;
		  $('#decoration-elements').append($(this).data('fields').replace(regexp, time).replace('_NUM_',time));
		}
		$('.decoration-delete-link').click(function (event) {
			content_to_remove = this;
		});
		
		$("select").each(function() {
			if($(this).attr('id').indexOf("_NUM_") == -1) {
				$(this).chosen();
			}
		});
		
		customForm.customForms.replaceAll();
		event.preventDefault();
	});

	// add new nested form item
	$('#mark-add').click(function (event) {
		// alert(unsaved);
		$('.mark-empty-relationship').hide();
		unsaved = true;
	  time = new Date().getTime();
	  regexp = new RegExp($(this).data('id'), 'g');
	  // $(this).before($(this).data('fields').replace(regexp, time));
		if(mark_color == true) {
			mark_color = false;
		  $('#mark-elements').append($(this).data('fields').replace(regexp, time).replace('"block "', '"block colored"').replace('_NUM_',time));
		} else {
			mark_color = true;
		  $('#mark-elements').append($(this).data('fields').replace(regexp, time).replace('_NUM_',time));
		}
		$('.mark-delete-link').click(function (event) {
			content_to_remove = this;
		});
		
		$("select").each(function() {
			if($(this).attr('id').indexOf("_NUM_") == -1) {
				$(this).chosen();
			}
		});
		
		customForm.customForms.replaceAll();
		event.preventDefault();
	});
	
	
	var content_to_remove;


	// remove nested form
	$('.decoration-delete').click(function (event) {
		unsaved = true;
		if(content_to_remove != null) {
			$(content_to_remove).prev('input[type=hidden]').val('1');
			$(content_to_remove).closest('.block').hide();
		}
		$('#decoration-alert-modal').modal('hide')
		event.preventDefault();
	});
	
	// grab contents that are about to be deleted
	$('.decoration-delete-link').click(function (event) {
		content_to_remove = this;
	});

	// remove nested form
	$('.mark-delete').click(function (event) {
		unsaved = true;
		if(content_to_remove != null) {
			$(content_to_remove).prev('input[type=hidden]').val('1');
			$(content_to_remove).closest('.block').hide();
		}
		$('#mark-alert-modal').modal('hide')
		event.preventDefault();
	});
	
	// grab contents that are about to be deleted
	$('.mark-delete-link').click(function (event) {
		content_to_remove = this;
	});


});
</script>

<div class="page-header page-header-01">
	<div class="frame">
		<div class="clearfix">
			<%= link_to 'Back to List', tobacco_pipes_path, :class => 'back-link'%>
		</div>
		<div class="paging">
			<% if @in_context.index(@tobacco_pipe) != nil %>
			<% if @in_context.index(@tobacco_pipe) < (@in_context.size-1) %>
				<%= link_to 'Next', edit_tobacco_pipe_path(@in_context[@in_context.index(@tobacco_pipe)+1].id), {:class => 'next'}%>
			<% end %>
			<span class="caption"><%= @in_context.index(@tobacco_pipe)+1 %> of <%= @in_context.size %></span>
			<% if @in_context.index(@tobacco_pipe) > 0%>
				<%= link_to 'Previous', edit_tobacco_pipe_path(@in_context[@in_context.index(@tobacco_pipe)-1].id), {:class => 'prev'}%>
			<% end %>
			<% end %>
		</div><!-- paging -->
	</div><!-- frame -->
	<h1>Tobacco Pipe</h1>
	<% if current_user.is_editor? %>
	<a href="#" data-toggle="modal" data-target="#add-new" class="add-new new-pipe-type">Add New</a>
	<% end %>
</div><!-- page-header -->
<%= render 'layouts/messages', errors: @tobacco_pipe.errors %>

<div class="clearfix">
	<%= form_for(@tobacco_pipe, {:class => 'edit_glass'}) do |f|%>
		<%= f.hidden_field(:GenerateContextArtifactID)%>
		<input type="hidden" name="active_tag" id="active_tag">
		<fieldset>
			<aside id="aside">
				<h2 class="visible-md visible-lg">Record Details</h2>
				<% if @tobacco_pipe.context_sample == nil or current_user.edit_projects.include?(@tobacco_pipe.context_sample.project) or current_user.is_admin?  %>
				<div class="box">
					<% if @tobacco_pipe.context_sample != nil %>
						<%= link_to 'Add Artifact to Context', {:action => 'new', :context_sample => @tobacco_pipe.context_sample.ContextSampleID}, {:class => 'add-new'}%>
					<% end %>
					<!-- <a href="#" data-toggle="modal" data-target="#add-new" class="add-new">Add New record</a> -->
				</div><!-- box -->
				<div class="box">
					<button id="button-record-save" class="btn btn-success btn-save ie-fix"><span>Save</span></button>
					<%= image_tag('fancybox_loading.gif', :style => 'display:none', :id => 'loading-icon') %>
					<div class="area clearfix">
						<%= link_to('Duplicate', {:action => 'duplicate', :id => params[:id]}, {:class=>"btn btn-info btn-duplicate ie-fix"})%>
						<%# if current_user.user_level >= 3 or current_user.user_level == 2 %>
						<% if current_user.deletable_projects.include?(@tobacco_pipe.project) or current_user.is_admin?  %>
							<a href="#" data-toggle="modal" data-target="#delete-alert-modal" class="delete">Delete</a>
						<% end %>
					</div>
				</div><!-- box -->
				<% end %>
				<div class="details-bar">
					<a href="#" data-toggle="dropdown" class="open-close"></a>
					<div class="drop dropdown-menu" role="menu">
						<div class="info-box">
							<dl>
								<dt class="visible-md visible-lg">Artifact ID:</dt><dd class="visible-md visible-lg"><%= @tobacco_pipe.ArtifactID != nil ? @tobacco_pipe.ArtifactID : ' - ' %></dd>
								<dt>Project:</dt><dd><%= (@tobacco_pipe.context_sample != nil and @tobacco_pipe.context_sample.project != nil) ? @tobacco_pipe.context_sample.project.project_name.ProjectName : ' - ' %></dd>
								<dt>Context Sample:</dt><dd><%= @tobacco_pipe.context_sample != nil ? @tobacco_pipe.context_sample.ContextSampleID.gsub(';','') : ' - ' %></dd>
							</dl>
							<dl>
								<dt>Completeness:</dt><dd><%= @tobacco_pipe.TobaccoPipeCompletenessID != nil ? @tobacco_pipe.tobacco_pipe_completeness.TobaccoPipeCompleteness : ' - ' %></dd>
								<dt>Material:</dt><dd><%= @tobacco_pipe.TobaccoPipeMaterialID != nil ? @tobacco_pipe.tobacco_pipe_material.TobaccoPipeMaterial : ' - ' %></dd>
								<dt>Manu Tech:</dt><dd><%= @tobacco_pipe.TobaccoPipeManuTechID != nil ? @tobacco_pipe.tobacco_pipe_manu_tech.TobaccoPipeManuTech : ' - ' %></dd>
								<dt>Decoration:</dt><dd><%= @tobacco_pipe.DecorationYN != nil ? @tobacco_pipe.decoration_yes_no.YesNo : ' - ' %></dd>
							</dl>
						</div><!-- info-box -->
						<div class="aside-accordion" id="aside-accordion">
							<div class="panel">
								<h2><a class="collapsed" data-toggle="collapse" data-parent="#aside-accordion" href="#collapse-01">all artifacts in context</a></h2>
								<div id="collapse-01" class="panel-collapse collapse">
									<div class="frame">
										<div class="artifacts scrollable-area">
											<ul>
												<% @in_context.each do |glass| %>
													<!--  check for saving!!! -->
													<li <%= @tobacco_pipe.ArtifactID == glass.ArtifactID ? 'class=current' : '' %>><%= @tobacco_pipe.ArtifactID != glass.ArtifactID ? link_to(glass.ArtifactID, edit_tobacco_pipe_path(glass)) : glass.ArtifactID %></li>
												<% end %>
											</ul>
										</div><!-- artifacts -->
									</div>
								</div>
							</div>
							<div class="panel">
								<h2 class="visible-md visible-lg"><a class="collapsed" data-toggle="collapse" data-parent="#aside-accordion" href="#collapse-02">Cataloger Details</a></h2>
								<div id="collapse-02" class="panel-collapse collapse">
									<div class="details-box">
										<dl>
											<% user = User.where('editor_id = ?', @tobacco_pipe.EditorIDN).first %>
											<dt>Added By:</dt><dd><%= user != nil ? "#{(user.first_name != nil and user.first_name != '') ? user.first_name+' '+user.last_name : user.userid}" : ' - '%></dd>
											<dt>Date Added:</dt><dd><%=h @tobacco_pipe.DateAdded !=nil ? @tobacco_pipe.DateAdded.strftime('%m/%d/%Y %H:%M:%S') : " - "%></dd>
										</dl>
										<dl>
											<% user = User.where('editor_id = ?', @tobacco_pipe.EditorID).first %>
											<dt>Changed By:</dt><dd><%= user != nil ? "#{(user.first_name != nil and user.first_name != '') ? user.first_name+' '+user.last_name : user.userid}" : ' - '%></dd>
											<dt>Date Changed:</dt><dd><%=h @tobacco_pipe.DateChanged !=nil ? @tobacco_pipe.DateChanged.strftime('%m/%d/%Y %H:%M:%S') : " - "%></dd>
										</dl>
										<div class="clearfix">
											<a href="#" class="link">Change Log</a>
										</div>
									</div><!-- details-box -->
								</div>
							</div>
							<div class="panel">
								<% if @tobacco_pipe.artifact_images.size > 0 %>
								<h2 class="visible-md visible-lg"><a class="collapsed" data-toggle="collapse" data-parent="#aside-accordion" href="#collapse-03">Images</a></h2>
								<div id="collapse-03" class="panel-collapse collapse">
									<script>
										function showFancybox(){		
										if ($('.fancybox').exists()){
											$('.fancybox').fancybox({
												href : $('.item.active').children()[0].src,
												prevEffect : 'fade',
												nextEffect : 'fade',
											});
										}
										}
										
									</script>
									<div class="slideshow slide" id="slideshow-01" data-ride="carousel" data-interval="false">
										<div class="carousel-inner">
											<% first = true %>
											<% @tobacco_pipe.artifact_images.each do |artifact_image| %>
												<div class="item <%= first == true ? 'active' : '' %>">
													<%= image_tag(artifact_image.image.ImageFileLocation) if artifact_image.image != nil%>
												</div>
												<% first = false %>
											<% end %>
										</div>
										<a class="loupe fancybox" onclick="showFancybox();return false;" href="#">loupe</a>
										<a class="prev-btn" href="#slideshow-01" data-slide="prev">&#60;</a>
										<a class="next-btn" href="#slideshow-01" data-slide="next">&#62;</a>
									</div><!-- slideshow -->
								</div>
								<% end %>
							</div>
						</div><!-- accordion -->
					</div>
				</div><!-- details-bar -->
			</aside><!-- aside -->
			<section class="tabs">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab-01" data-toggle="tab">Main</a></li>
					<li><a href="#tab-02" data-toggle="tab">Measurements</a></li>
					<li><a href="#tab-03" data-toggle="tab">Bowl/Mouthpiece</a></li>
					<li><a href="#tab-04" data-toggle="tab">Decoration</a></li>
					<li><a href="#tab-05" data-toggle="tab">Text Marks</a></li>
					<li><a href="#tab-06" data-toggle="tab">Manufacturing</a></li>
					<li><a href="#tab-07" data-toggle="tab">Condition</a></li>
					<li><a href="#tab-08" data-toggle="tab">Images</a></li>
					<li><a href="#tab-09" data-toggle="tab">Objects</a></li>
				</ul><!-- nav-tabs -->
				<div class="tab-content">
					<div class="tab-pane active" id="tab-01">
						<section class="section">
							<div class="heading">
								<h2>General</h2>
							</div>
							<div class="material-form">
							<div class="two-columns">
								<div class="row-area">
									<div class="col">
										<%= f.label('Quantity', 'Artifact Count')%>
										<div class="frame">
											<%= f.text_field('Quantity', {:class => "form-control"})%>
										</div>
									</div>
									<div class="col">
										<%= f.label('TobaccoPipeCompletenessID', 'Completeness')%>
										<div class="frame">
											<%= f.collection_select('TobaccoPipeCompletenessID', TobaccoPipeCompleteness.all.order('"TobaccoPipeCompleteness"'), :id, 'TobaccoPipeCompleteness', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
								</div><!-- row-area -->
								<div class="row-area">
									<div class="col">
										<%= f.label('TobaccoPipeMaterialID', 'Material')%>
										<div class="frame">
											<%= f.collection_select('TobaccoPipeMaterialID', TobaccoPipeMaterial.all.order('"TobaccoPipeMaterial"'), :id, 'TobaccoPipeMaterial', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
									<div class="col">
										<%= f.label('TobaccoPipeManuTechID', 'Manufacturing Technique')%>
										<div class="frame">
											<%= f.collection_select('TobaccoPipeManuTechID', TobaccoPipeManuTech.all.order('"TobaccoPipeManuTech"'), :id, 'TobaccoPipeManuTech', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
								</div><!-- row-area -->
								<div class="row-area">
									<div class="col">
										<%= f.label('PasteMunAppColorID', 'Paste Color')%>
										<div class="frame">
											<%= f.collection_select('PasteMunAppColorID', MunsellAppliedColor.all.order('"AppliedColorWrittenDescription"'), :id, 'AppliedColorWrittenDescription', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
									<div class="col">
										<%= f.label('PasteInclusionID', 'Non-Plastic Paste Inclusion')%>
										<div class="frame">
											<%= f.collection_select('PasteInclusionID', PasteInclusion.all.order('"PasteInclusion"'), :id, 'PasteInclusion', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
								</div><!-- row-area -->
								<div class="row-area">
									<div class="col">
										<%= f.label('MendedYNID', 'Mended?')%>
										<div class="frame">
											<%= f.collection_select('MendedYNID', Mended.all.order('"MendYN"'), :id, 'MendYN', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
									<div class="col">
										<%= f.label('DecorationYN', 'Decoration?')%>
										<div class="frame">
											<%= f.collection_select('DecorationYN', YesNo.all.order('"YesNo"'), :id, 'YesNo', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
								</div><!-- row-area -->
								<div class="row-area">
									<div class="col">
										<%= f.label('TextMarkYN', 'Text Mark?')%>
										<div class="frame">
										<%= f.collection_select('TextMarkYN', YesNo.all.order('"YesNo"'), :id, 'YesNo', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
								</div><!-- row-area -->
							</div><!-- material-form -->
							</div>
						</section><!-- section -->
						<section class="section">
							<div class="heading">
								<h2>Surfaces</h2>
							</div>
							<div class="material-form">
							<div class="two-columns">
								<div class="row-area">
									<div class="col">
										<%= f.label('GlazeTypeID', 'Glaze Type')%>
										<div class="frame">
											<%= f.collection_select('GlazeTypeID', TobaccoPipeGlazeType.all.order('"GlazeType"'), :id, 'GlazeType', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
									<div class="col">
										<%= f.label('GlazeMunAppColorID', 'Glaze Color')%>
										<div class="frame">
											<%= f.collection_select('GlazeMunAppColorID', MunsellAppliedColor.all.order('"AppliedColorWrittenDescription"'), :id, 'AppliedColorWrittenDescription', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
								</div><!-- row-area -->
							</div><!-- material-form -->
							</div>
						</section><!-- section -->
						<section class="section">
							<div class="heading">
								<h2>Notes</h2>
							</div>
							<div class="one-column">
								<div class="row-area">
									<%= f.text_area('Notes', {:class => "form-control"})%>
								</div>								
							</div>
						</section>
					</div><!-- tab-01 -->
					<div class="tab-pane" id="tab-02">
						<div class="measurements">
							<div class="holder">
								<section class="section">
									<div class="heading">
										<h2>Stem</h2>
									</div>
									<div class="row-area">
										<%= f.label 'StemLength', 'Stem Length'%>
										<%= f.text_field 'StemLength', {:class => 'form-control'}%>
										<%= f.label 'StemLength', 'mm', {:class => 'lbl'}%>
									</div><!-- row-area -->
									<div class="row-area">
										<%= f.label 'ExteriorStemDiameter', 'Exterior Stem Diameter' %>
										<%= f.text_field 'ExteriorStemDiameter', {:class => 'form-control'}%>
										<%= f.label 'ExteriorStemDiameter', 'mm', {:class => 'lbl'}%>
									</div><!-- row-area -->
									<div class="row-area">
										<%= f.label 'MetricBoreDiameter', 'Metric Bore Diameter' %>
										<%= f.text_field 'MetricBoreDiameter', {:class => 'form-control'}%>
										<%= f.label 'MetricBoreDiameter', 'mm', {:class => 'lbl'}%>
									</div><!-- row-area -->
									<div class="row-area">
										<%= f.label 'BoreDiameter64ths', '64ths Bore Diameter' %>
										<%= f.text_field 'BoreDiameter64ths', {:class => 'form-control'}%>
									</div><!-- row-area -->
								</section><!-- section -->
								<section class="section">
									<div class="heading">
										<h2>Bowl</h2>
									</div>
									<div class="row-area">
										<%= f.label 'BowlHeight', 'Bowl Height' %>
										<%= f.text_field 'BowlHeight', {:class => 'form-control'}%>
										<%= f.label 'BowlHeight', 'mm', {:class => 'lbl'}%>
									</div><!-- row-area -->
									<div class="row-area">
										<%= f.label 'MaximumBowlDiameter', 'Maximum Bowl Diameter' %>
										<%= f.text_field 'MaximumBowlDiameter', {:class => 'form-control'}%>
										<%= f.label 'MaximumBowlDiameter', 'mm', {:class => 'lbl'}%>
									</div><!-- row-area -->
									<div class="row-area">
										<%= f.label 'BowlRimDiameter', 'Bowl Rim Diameter' %>
										<%= f.text_field 'BowlRimDiameter', {:class => 'form-control'}%>
										<%= f.label 'BowlRimDiameter', 'mm', {:class => 'lbl'}%>
									</div><!-- row-area -->
									<div class="row-area">
										<%= f.label 'BowlVolume', 'Bowl Volume' %>
										<%= f.text_field 'BowlVolume', {:class => 'form-control'}%>
										<%= f.label 'BowlVolume', 'ml', {:class => 'lbl'}%>
									</div><!-- row-area -->
									<div class="row-area">
										<%= f.label 'MaximumSherdMeasurement', 'Maximum Sherd Measurement' %>
										<%= f.text_field 'MaximumSherdMeasurement', {:class => 'form-control'}%>
										<%= f.label 'MaximumSherdMeasurement', 'mm', {:class => 'lbl'}%>
									</div><!-- row-area -->
								</section><!-- section -->
							</div>
							<div class="holder">
								<section class="section">
									<div class="heading">
										<h2>Weight</h2>
									</div>
									<div class="row-area">
										<%= f.label 'Weight', 'Weight' %>
										<%= f.text_field 'Weight', {:class => 'form-control'}%>
										<%= f.label 'Weight', 'g', {:class => 'lbl'}%>
								</section><!-- section -->
							</div>
						</div><!-- measurements -->
					</div><!-- tab-02 -->
					<div class="tab-pane" id="tab-03">
						<section class="section">
							<div class="heading">
								<h2>Bowl/Mouthpiece Information</h2>
							</div>
							<div class="material-form">
							<div class="two-columns">
								<div class="row-area">
									<div class="col">
										<%= f.label('BowlFormID', 'Bowl Form')%>
										<div class="frame">
											<%= f.collection_select('BowlFormID', TobaccoPipeBowlForm.all.order('"BowlForm"'), :id, 'BowlForm', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
									<div class="col">
										<%= f.label('BowlBaseTypeID', 'Bowl Base Type')%>
										<div class="frame">
											<%= f.collection_select('BowlBaseTypeID', TobaccoPipeBowlBaseType.all.order('"BowlBaseType"'), :id, 'BowlBaseType', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
								</div><!-- row-area -->
								<div class="row-area">
									<div class="col">
										<%= f.label('MouthPieceFormID', 'Mouthpiece Form')%>
										<div class="frame">
											<%= f.collection_select('MouthpieceFormID', TobaccoPipeMouthpieceForm.all.order('"MouthpieceForm"'), :id, 'MouthpieceForm', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
								</div><!-- row-area -->
							</div><!-- material-form -->
							</div>
						</section><!-- section -->
						</div>
						<div class="tab-pane" id="tab-04">
						<section class="section">
							<div class="heading">
								<h2>Decoration</h2>
							</div>
							<div class="decorations">
								<div id="decoration-elements">
								<% @decoration_colored = true %>
								<% if @tobacco_pipe.tobacco_pipe_decorations.any? %>
									<%= f.fields_for :tobacco_pipe_decorations do |mat| %>
										<%= render 'tobacco_pipe_decoration_fields', f: mat %>
										<% @decoration_colored = @decoration_colored == true ? false : true %>
										<%# debugger %>
									<% end %>
									<% if @decoration_colored == false %>
										<script>
											decoration_color = false;
										</script>
									<% else %>
										<script>
											decoration_color = true;
										</script>
									<% end %>
								<% else %>
								<span class="decoration-empty-relationship">Click Add for new entries.</span>
									<%#= render_new_nested_fields f, :gen_artifact_materials %>
								<% end %>
								<% @decoration_colored = false %>
								</div>
								<div class="clearfix">
									<%= link_to_add_fields "Add Decoration", f, :tobacco_pipe_decorations, {:id=>"decoration-add", :class => "btn btn-info btn-add"} %>
								</div>
							</div><!-- stylistic-elements -->
							
						</section><!-- section -->
          </div>
					<div class="tab-pane" id="tab-05">
						<section class="section">
							<div class="heading">
								<h2>Mark Description</h2>
							</div>
							<div class="material-form">
							<div class="one-column">
								<div class="row-area">
									<div class="col">
										<%= f.label('CompleteMarkDescription', 'Description')%>
										<div class="frame">
											<%= f.text_area('CompleteMarkDescription', {:maxlength => 250, :class => 'form-control'})%>
										</div>
									</div>
								</div><!-- row-area -->
							</div><!-- material-form -->
							</div>
						</section><!-- section -->
						<section class="section">
							<div class="heading">
								<h2>Mark Specifics</h2>
							</div>
							<div class="marks">
								<div id="mark-elements">
								<% @mark_colored = true %>
								<% if @tobacco_pipe.tobacco_pipe_text_marks.any? %>
									<%= f.fields_for :tobacco_pipe_text_marks do |mat| %>
										<%= render 'tobacco_pipe_text_mark_fields', f: mat %>
										<% @mark_colored = @mark_colored == true ? false : true %>
										<%# debugger %>
									<% end %>
									<% if @mark_colored == false %>
										<script>
											mark_color = false;
										</script>
									<% else %>
										<script>
											mark_color = true;
										</script>
									<% end %>
								<% else %>
								<span class="mark-empty-relationship">Click Add for new entries.</span>
									<%#= render_new_nested_fields f, :gen_artifact_materials %>
								<% end %>
								<% @mark_colored = false %>
								</div>
								<div class="clearfix">
									<%= link_to_add_fields "Add Mark", f, :tobacco_pipe_text_marks, {:id=>"mark-add", :class => "btn btn-info btn-add"} %>
								</div>
							</div><!-- stylistic-elements -->
							
						</section><!-- section -->
						
          </div>
					<div class="tab-pane" id="tab-06">

						<section class="section">
							<div class="heading">
								<h2>Manufacturing Information</h2>
							</div>
							<div class="material-form">
							<div class="two-columns">
								<div class="row-area">
									<div class="col">
										<%= f.label('PipeMaker', 'Pipe Maker')%>
										<div class="frame">
											<%= f.text_area('PipeMaker', {:maxlength => 100, :class => 'form-control'})%>
										</div>
									</div>
									<div class="col">
										<%= f.label('ProductionDates', 'Production Dates')%>
										<div class="frame">
											<%= f.text_field('ProductionDates', {:class => 'form-control'})%>
										</div>
									</div>
								</div><!-- row-area -->
								<div class="row-area">
									<div class="col">
										<%= f.label('ManufactureLocation', 'Manufacture Location')%>
										<div class="frame">
											<%= f.text_area('ManufactureLocation', {:maxlength => 100, :class => 'form-control'})%>
										</div>
									</div>
								</div><!-- row-area -->
							</div><!-- material-form -->
							</div>
							
						</section><!-- section -->
					</div><!-- tab-05 -->
					<div class="tab-pane" id="tab-07">
						<section class="section">
							<div class="heading">
								<h2>Condition</h2>
							</div>
							<div class="material-form">
							<div class="two-columns">
								<div class="row-area">
									<div class="col">
										<%= f.label('PMM', 'Post-Manufacturing Modification?')%>
										<div class="frame">
											<%= f.collection_select('PMM', YesNo.all.order('"YesNo"'), :id, 'YesNo', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
										</div>
									</div>
									<div class="col">
										<%= f.label('Conservation', 'Conservation?')%>
										<div class="frame">
											<%= f.text_field('Conservation', {:maxlength => 50, :class => 'form-control'})%>
										</div>
									</div>
								</div><!-- row-area -->
							</div><!-- material-form -->
							</div>
						</section><!-- section -->
					</div>
					<div class="tab-pane" id="tab-08">
						<div class="image-list">
							<div id="image-elements">
								<%= f.fields_for :artifact_images do |aif| %>
									<%= render 'artifact_image_fields', f: aif %>
								<% end %>
							</div>
							<div class="clearfix">
								<div class="btn-area">
									<%= link_to_add_fields "Add Image", f, :artifact_images, {:id=>"image-add", :class => "btn btn-info btn-add"} %>
									<!-- <a class="btn btn-info btn-add" data-toggle="modal" data-target="#new-image">Add</a> -->
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-09">
						<div class="object-list">
							<div id="object-elements">
								<%= f.fields_for :gen_object_artifacts do |aif| %>
									<%= render 'partials/gen_object_artifact_fields', f: aif %>
								<% end %>
							</div>
							<div class="clearfix">
								<div class="btn-area">
									<%= link_to_add_fields "Add Object", f, :gen_object_artifacts, {:id=>"object-add", :class => "btn btn-info btn-add"} %>
									<!-- <a class="btn btn-info btn-add" data-toggle="modal" data-target="#new-image">Add</a> -->
								</div>
							</div>
						</div>
                          </div>
				</div><!-- tab-content -->
			</section><!-- tabs -->
		</fieldset>
	<% end %>
</div>
<div class="modal alert-modal fade" id="bottle-alert-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Alert</h4>
			</div>
			<div class="modal-body">
				<p class="txt">Are you sure you want to delete?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button class="btn btn-warning bottle-delete">Delete</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- alert-modal -->

<div class="modal alert-modal fade" id="decoration-alert-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Alert</h4>
			</div>
			<div class="modal-body">
				<p class="txt">Are you sure you want to delete?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button class="btn btn-warning decoration-delete">Delete</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- alert-modal -->

<div class="modal alert-modal fade" id="mark-alert-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Alert</h4>
			</div>
			<div class="modal-body">
				<p class="txt">Are you sure you want to delete?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button class="btn btn-warning mark-delete">Delete</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- alert-modal -->

<div class="modal alert-modal fade" id="mend-alert-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Alert</h4>
			</div>
			<div class="modal-body">
				<p class="txt">Are you sure you want to delete?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button class="btn btn-warning mend-delete">Delete</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- alert-modal -->

<div class="modal alert-modal fade" id="delete-alert-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Alert</h4>
			</div>
			<div class="modal-body">
				<p class="txt">Are you sure you want to delete?</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button class="btn btn-warning delete-record">Delete</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- alert-modal -->
