<p id="notice"><%= notice %></p>

<p>
  <b>Object dec tech:</b>
  <%= @gen_object_dec_tech.object_dec_tech %>
</p>

<p>
  <b>Object type:</b>
  <%= @gen_object_dec_tech.object_type_id %>
</p>


<%= link_to 'Edit', edit_gen_object_dec_tech_path(@gen_object_dec_tech) %> |
<%= link_to 'Back', gen_object_dec_teches_path %>
