<h1>Listing bead_structures</h1>

<table>
  <tr>
    <th>Structure</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bead_structures.each do |bead_structure| %>
  <tr>
    <td><%= bead_structure.structure %></td>
    <td><%= link_to 'Show', bead_structure %></td>
    <td><%= link_to 'Edit', edit_bead_structure_path(bead_structure) %></td>
    <td><%= link_to 'Destroy', bead_structure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bead structure', new_bead_structure_path %>
