<h1>Listing gen_object_materials</h1>

<table>
  <tr>
    <th>Object material</th>
    <th>Object type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gen_object_materials.each do |gen_object_material| %>
  <tr>
    <td><%= gen_object_material.object_material %></td>
    <td><%= gen_object_material.object_type_id %></td>
    <td><%= link_to 'Show', gen_object_material %></td>
    <td><%= link_to 'Edit', edit_gen_object_material_path(gen_object_material) %></td>
    <td><%= link_to 'Destroy', gen_object_material, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gen object material', new_gen_object_material_path %>
