<p id="notice"><%= notice %></p>

<p>
  <b>Object material:</b>
  <%= @gen_object_material.object_material %>
</p>

<p>
  <b>Object type:</b>
  <%= @gen_object_material.object_type_id %>
</p>


<%= link_to 'Edit', edit_gen_object_material_path(@gen_object_material) %> |
<%= link_to 'Back', gen_object_materials_path %>
