<%= form_for(@gen_object_vessel_category) do |f| %>
  <% if @gen_object_vessel_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gen_object_vessel_category.errors.count, "error") %> prohibited this gen_object_vessel_category from being saved:</h2>

      <ul>
      <% @gen_object_vessel_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :object_vessel_category %><br />
    <%= f.text_field :object_vessel_category %>
  </div>
  <div class="field">
    <%= f.label :object_type_id %><br />
    <%= f.text_field :object_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
