<p id="notice"><%= notice %></p>

<p>
  <b>Object vessel category:</b>
  <%= @gen_object_vessel_category.object_vessel_category %>
</p>

<p>
  <b>Object type:</b>
  <%= @gen_object_vessel_category.object_type_id %>
</p>


<%= link_to 'Edit', edit_gen_object_vessel_category_path(@gen_object_vessel_category) %> |
<%= link_to 'Back', gen_object_vessel_categories_path %>
