<%= form_for(@context_stp_level) do |f| %>
  <% if @context_stp_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@context_stp_level.errors.count, "error") %> prohibited this context_stp_level from being saved:</h2>

      <ul>
      <% @context_stp_level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stplevel %><br />
    <%= f.text_field :stplevel %>
  </div>
  <div class="field">
    <%= f.label :stpclosing %><br />
    <%= f.text_field :stpclosing %>
  </div>
  <div class="field">
    <%= f.label :context_id %><br />
    <%= f.text_field :context_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
