<h1>Listing sediment_colors</h1>

<table>
  <tr>
    <th>Munsell sediment color</th>
    <th>Munsell description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sediment_colors.each do |sediment_color| %>
  <tr>
    <td><%= sediment_color.munsell_sediment_color %></td>
    <td><%= sediment_color.munsell_description %></td>
    <td><%= link_to 'Show', sediment_color %></td>
    <td><%= link_to 'Edit', edit_sediment_color_path(sediment_color) %></td>
    <td><%= link_to 'Destroy', sediment_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sediment color', new_sediment_color_path %>
