<%= form_for(@gen_artifact_form) do |f| %>
  <% if @gen_artifact_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gen_artifact_form.errors.count, "error") %> prohibited this gen_artifact_form from being saved:</h2>

      <ul>
      <% @gen_artifact_form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gen_artifact_form %><br />
    <%= f.text_field :gen_artifact_form %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
