<p id="notice"><%= notice %></p>

<p>
  <b>Feature number:</b>
  <%= @context_feature.feature_number %>
</p>

<p>
  <b>Length:</b>
  <%= @context_feature.length %>
</p>

<p>
  <b>Width:</b>
  <%= @context_feature.width %>
</p>

<p>
  <b>Depth:</b>
  <%= @context_feature.depth %>
</p>

<p>
  <b>Description:</b>
  <%= @context_feature.description %>
</p>

<p>
  <b>Centroid c:</b>
  <%= @context_feature.centroid_c %>
</p>

<p>
  <b>Centroid y:</b>
  <%= @context_feature.centroid_y %>
</p>

<p>
  <b>Feature tpq:</b>
  <%= @context_feature.feature_tpq %>
</p>

<p>
  <b>Plan shape:</b>
  <%= @context_feature.plan_shape_id %>
</p>

<p>
  <b>Profile shape:</b>
  <%= @context_feature.profile_shape_id %>
</p>

<p>
  <b>Feature group:</b>
  <%= @context_feature.feature_group %>
</p>

<p>
  <b>Feature group interpretation:</b>
  <%= @context_feature.feature_group_interpretation %>
</p>

<p>
  <b>Original pit cut length:</b>
  <%= @context_feature.original_pit_cut_length %>
</p>

<p>
  <b>Original pit cut width:</b>
  <%= @context_feature.original_pit_cut_width %>
</p>

<p>
  <b>Original cut depth:</b>
  <%= @context_feature.original_cut_depth %>
</p>

<p>
  <b>Editor id n:</b>
  <%= @context_feature.editor_id_n %>
</p>

<p>
  <b>Editor:</b>
  <%= @context_feature.editor_id %>
</p>

<p>
  <b>Date added:</b>
  <%= @context_feature.date_added %>
</p>

<p>
  <b>Date changed:</b>
  <%= @context_feature.date_changed %>
</p>


<%= link_to 'Edit', edit_context_feature_path(@context_feature) %> |
<%= link_to 'Back', context_features_path %>
