<h1>Listing glass_bottle_treatments</h1>

<table>
  <tr>
    <th>Glass bottle treatment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @glass_bottle_treatments.each do |glass_bottle_treatment| %>
  <tr>
    <td><%= glass_bottle_treatment.glass_bottle_treatment %></td>
    <td><%= link_to 'Show', glass_bottle_treatment %></td>
    <td><%= link_to 'Edit', edit_glass_bottle_treatment_path(glass_bottle_treatment) %></td>
    <td><%= link_to 'Destroy', glass_bottle_treatment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Glass bottle treatment', new_glass_bottle_treatment_path %>
