<%= form_for(@ceramic_dec_tech_sty_element) do |f| %>
  <% if @ceramic_dec_tech_sty_element.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ceramic_dec_tech_sty_element.errors.count, "error") %> prohibited this ceramic_dec_tech_sty_element from being saved:</h2>

      <ul>
      <% @ceramic_dec_tech_sty_element.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ceramic_dec_tech_sty_element %><br />
    <%= f.text_field :ceramic_dec_tech_sty_element %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
