<h1>Listing bone_reliabilities</h1>

<table>
  <tr>
    <th>Reliability</th>
    <th>Reliability code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bone_reliabilities.each do |bone_reliability| %>
  <tr>
    <td><%= bone_reliability.reliability %></td>
    <td><%= bone_reliability.reliability_code %></td>
    <td><%= link_to 'Show', bone_reliability %></td>
    <td><%= link_to 'Edit', edit_bone_reliability_path(bone_reliability) %></td>
    <td><%= link_to 'Destroy', bone_reliability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bone reliability', new_bone_reliability_path %>
