<%= form_for(@button_type) do |f| %>
  <% if @button_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@button_type.errors.count, "error") %> prohibited this button_type from being saved:</h2>

      <ul>
      <% @button_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :button_type %><br />
    <%= f.text_field :button_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
