<p id="notice"><%= notice %></p>

<p>
  <b>Article:</b>
  <%= @buckle_form.article_id %>
</p>

<p>
  <b>Buckle part:</b>
  <%= @buckle_form.buckle_part_id %>
</p>

<p>
  <b>Buckle material:</b>
  <%= @buckle_form.buckle_material_id %>
</p>

<p>
  <b>Buckle manu tech:</b>
  <%= @buckle_form.buckle_manu_tech_id %>
</p>

<p>
  <b>Buckle shape:</b>
  <%= @buckle_form.buckle_shape_id %>
</p>

<p>
  <b>Buckle element:</b>
  <%= @buckle_form.buckle_element_id %>
</p>

<p>
  <b>Generate context artifact:</b>
  <%= @buckle_form.generate_context_artifact_id %>
</p>

<p>
  <b>Length:</b>
  <%= @buckle_form.length %>
</p>

<p>
  <b>Width:</b>
  <%= @buckle_form.width %>
</p>

<p>
  <b>Pin centerpoint measure:</b>
  <%= @buckle_form.pin_centerpoint_measure %>
</p>


<%= link_to 'Edit', edit_buckle_form_path(@buckle_form) %> |
<%= link_to 'Back', buckle_forms_path %>
