<h1>Listing tobacco_pipe_bowl_forms</h1>

<table>
  <tr>
    <th>Bowl base form</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tobacco_pipe_bowl_forms.each do |tobacco_pipe_bowl_form| %>
  <tr>
    <td><%= tobacco_pipe_bowl_form.bowl_base_form %></td>
    <td><%= link_to 'Show', tobacco_pipe_bowl_form %></td>
    <td><%= link_to 'Edit', edit_tobacco_pipe_bowl_form_path(tobacco_pipe_bowl_form) %></td>
    <td><%= link_to 'Destroy', tobacco_pipe_bowl_form, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tobacco pipe bowl base form', new_tobacco_pipe_bowl_form_path %>
