<h1>Listing glass_colors</h1>

<table>
  <tr>
    <th>Glass color</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @glass_colors.each do |glass_color| %>
  <tr>
    <td><%= glass_color.glass_color %></td>
    <td><%= link_to 'Show', glass_color %></td>
    <td><%= link_to 'Edit', edit_glass_color_path(glass_color) %></td>
    <td><%= link_to 'Destroy', glass_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Glass color', new_glass_color_path %>
