<h1>Listing tobacco_pipe_text_marks</h1>

<table>
  <tr>
    <th>Artifact</th>
    <th>Text mark type</th>
    <th>Motif text location</th>
    <th>Pipe text frame motif</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Place name</th>
    <th>Slogan other</th>
    <th>Mark notes</th>
    <th>Generate context artifact id--skip stylesheets</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tobacco_pipe_text_marks.each do |tobacco_pipe_text_mark| %>
  <tr>
    <td><%= tobacco_pipe_text_mark.artifact_id %></td>
    <td><%= tobacco_pipe_text_mark.text_mark_type_id %></td>
    <td><%= tobacco_pipe_text_mark.motif_text_location_id %></td>
    <td><%= tobacco_pipe_text_mark.pipe_text_frame_motif_id %></td>
    <td><%= tobacco_pipe_text_mark.first_name %></td>
    <td><%= tobacco_pipe_text_mark.last_name %></td>
    <td><%= tobacco_pipe_text_mark.place_name %></td>
    <td><%= tobacco_pipe_text_mark.slogan_other %></td>
    <td><%= tobacco_pipe_text_mark.mark_notes %></td>
    <td><%= tobacco_pipe_text_mark.generate_context_artifact_id--skip_stylesheets %></td>
    <td><%= link_to 'Show', tobacco_pipe_text_mark %></td>
    <td><%= link_to 'Edit', edit_tobacco_pipe_text_mark_path(tobacco_pipe_text_mark) %></td>
    <td><%= link_to 'Destroy', tobacco_pipe_text_mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tobacco pipe text mark', new_tobacco_pipe_text_mark_path %>
