<p id="notice"><%= notice %></p>

<p>
  <b>Artifact:</b>
  <%= @tobacco_pipe_text_mark.artifact_id %>
</p>

<p>
  <b>Text mark type:</b>
  <%= @tobacco_pipe_text_mark.text_mark_type_id %>
</p>

<p>
  <b>Motif text location:</b>
  <%= @tobacco_pipe_text_mark.motif_text_location_id %>
</p>

<p>
  <b>Pipe text frame motif:</b>
  <%= @tobacco_pipe_text_mark.pipe_text_frame_motif_id %>
</p>

<p>
  <b>First name:</b>
  <%= @tobacco_pipe_text_mark.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @tobacco_pipe_text_mark.last_name %>
</p>

<p>
  <b>Place name:</b>
  <%= @tobacco_pipe_text_mark.place_name %>
</p>

<p>
  <b>Slogan other:</b>
  <%= @tobacco_pipe_text_mark.slogan_other %>
</p>

<p>
  <b>Mark notes:</b>
  <%= @tobacco_pipe_text_mark.mark_notes %>
</p>

<p>
  <b>Generate context artifact id--skip stylesheets:</b>
  <%= @tobacco_pipe_text_mark.generate_context_artifact_id--skip_stylesheets %>
</p>


<%= link_to 'Edit', edit_tobacco_pipe_text_mark_path(@tobacco_pipe_text_mark) %> |
<%= link_to 'Back', tobacco_pipe_text_marks_path %>
