<h1>Listing context_inclusion_descriptions</h1>

<table>
  <tr>
    <th>Inclusion description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @context_inclusion_descriptions.each do |context_inclusion_description| %>
  <tr>
    <td><%= context_inclusion_description.inclusion_description %></td>
    <td><%= link_to 'Show', context_inclusion_description %></td>
    <td><%= link_to 'Edit', edit_context_inclusion_description_path(context_inclusion_description) %></td>
    <td><%= link_to 'Destroy', context_inclusion_description, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Context inclusion description', new_context_inclusion_description_path %>
