<%= form_for(@tobacco_pipe_decoration) do |f| %>
  <% if @tobacco_pipe_decoration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tobacco_pipe_decoration.errors.count, "error") %> prohibited this tobacco_pipe_decoration from being saved:</h2>

      <ul>
      <% @tobacco_pipe_decoration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tobacco_pipe_dec_motif_id %><br />
    <%= f.text_field :tobacco_pipe_dec_motif_id %>
  </div>
  <div class="field">
    <%= f.label :motif_text_location_id %><br />
    <%= f.text_field :motif_text_location_id %>
  </div>
  <div class="field">
    <%= f.label :tobacco_pipe_motif_manu_tech_id %><br />
    <%= f.text_field :tobacco_pipe_motif_manu_tech_id %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :generate_context_artifact_id %><br />
    <%= f.text_field :generate_context_artifact_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
