<%= form_for(@glass_completeness) do |f| %>
  <% if @glass_completeness.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@glass_completeness.errors.count, "error") %> prohibited this glass_completeness from being saved:</h2>

      <ul>
      <% @glass_completeness.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :glass_completeness %><br />
    <%= f.text_field :glass_completeness %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
