<h1>Listing bead_diaphaneities</h1>

<table>
  <tr>
    <th>Diaphaneity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bead_diaphaneities.each do |bead_diaphaneity| %>
  <tr>
    <td><%= bead_diaphaneity.diaphaneity %></td>
    <td><%= link_to 'Show', bead_diaphaneity %></td>
    <td><%= link_to 'Edit', edit_bead_diaphaneity_path(bead_diaphaneity) %></td>
    <td><%= link_to 'Destroy', bead_diaphaneity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bead diaphaneity', new_bead_diaphaneity_path %>
