<h1>Listing gen_object_artifacts</h1>

<table>
  <tr>
    <th>Artifact</th>
    <th>Object</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @gen_object_artifacts.each do |gen_object_artifact| %>
  <tr>
    <td><%= gen_object_artifact.artifact_id %></td>
    <td><%= gen_object_artifact.object_id %></td>
    <td><%= link_to 'Show', gen_object_artifact %></td>
    <td><%= link_to 'Edit', edit_gen_object_artifact_path(gen_object_artifact) %></td>
    <td><%= link_to 'Destroy', gen_object_artifact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Gen object artifact', new_gen_object_artifact_path %>
