<%= form_for(@bone_butcher_chew_location) do |f| %>
  <% if @bone_butcher_chew_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bone_butcher_chew_location.errors.count, "error") %> prohibited this bone_butcher_chew_location from being saved:</h2>

      <ul>
      <% @bone_butcher_chew_location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :chew_location %><br />
    <%= f.text_field :chew_location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
