<h1>Listing bone_butcher_chew_locations</h1>

<table>
  <tr>
    <th>Chew location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bone_butcher_chew_locations.each do |bone_butcher_chew_location| %>
  <tr>
    <td><%= bone_butcher_chew_location.chew_location %></td>
    <td><%= link_to 'Show', bone_butcher_chew_location %></td>
    <td><%= link_to 'Edit', edit_bone_butcher_chew_location_path(bone_butcher_chew_location) %></td>
    <td><%= link_to 'Destroy', bone_butcher_chew_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bone butcher chew location', new_bone_butcher_chew_location_path %>
