<h1>Listing tobacco_pipe_bowl_base_types</h1>

<table>
  <tr>
    <th>Bowl base type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tobacco_pipe_bowl_base_types.each do |tobacco_pipe_bowl_base_type| %>
  <tr>
    <td><%= tobacco_pipe_bowl_base_type.bowl_base_type %></td>
    <td><%= link_to 'Show', tobacco_pipe_bowl_base_type %></td>
    <td><%= link_to 'Edit', edit_tobacco_pipe_bowl_base_type_path(tobacco_pipe_bowl_base_type) %></td>
    <td><%= link_to 'Destroy', tobacco_pipe_bowl_base_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tobacco pipe bowl base type', new_tobacco_pipe_bowl_base_type_path %>
