<h1>Listing bead_manu_teches</h1>

<table>
  <tr>
    <th>Bead manu tech</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bead_manu_teches.each do |bead_manu_tech| %>
  <tr>
    <td><%= bead_manu_tech.bead_manu_tech %></td>
    <td><%= link_to 'Show', bead_manu_tech %></td>
    <td><%= link_to 'Edit', edit_bead_manu_tech_path(bead_manu_tech) %></td>
    <td><%= link_to 'Destroy', bead_manu_tech, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bead manu tech', new_bead_manu_tech_path %>
