<%= form_for(@context_feature_type) do |f| %>
  <% if @context_feature_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@context_feature_type.errors.count, "error") %> prohibited this context_feature_type from being saved:</h2>

      <ul>
      <% @context_feature_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :feature_type %><br />
    <%= f.text_field :feature_type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
