<%= form_for(@gen_artifact_material) do |f| %>
  <% if @gen_artifact_material.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gen_artifact_material.errors.count, "error") %> prohibited this gen_artifact_material from being saved:</h2>

      <ul>
      <% @gen_artifact_material.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :artifact_id %><br />
    <%= f.text_field :artifact_id %>
  </div>
  <div class="field">
    <%= f.label :gen_artifact_material_type_id %><br />
    <%= f.text_field :gen_artifact_material_type_id %>
  </div>
  <div class="field">
    <%= f.label :gen_artifact_material_id %><br />
    <%= f.text_field :gen_artifact_material_id %>
  </div>
  <div class="field">
    <%= f.label :gen_artifact_manu_tech_id %><br />
    <%= f.text_field :gen_artifact_manu_tech_id %>
  </div>
  <div class="field">
    <%= f.label :generate_context_artifact_id %><br />
    <%= f.text_field :generate_context_artifact_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
