<p id="notice"><%= notice %></p>

<p>
  <b>Object dec pattern:</b>
  <%= @gen_object_dec_pattern.object_dec_pattern %>
</p>

<p>
  <b>Object type:</b>
  <%= @gen_object_dec_pattern.object_type_id %>
</p>


<%= link_to 'Edit', edit_gen_object_dec_pattern_path(@gen_object_dec_pattern) %> |
<%= link_to 'Back', gen_object_dec_patterns_path %>
