<h1>Listing context_feature_profile_shapes</h1>

<table>
  <tr>
    <th>Profile shape</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @context_feature_profile_shapes.each do |context_feature_profile_shape| %>
  <tr>
    <td><%= context_feature_profile_shape.profile_shape %></td>
    <td><%= link_to 'Show', context_feature_profile_shape %></td>
    <td><%= link_to 'Edit', edit_context_feature_profile_shape_path(context_feature_profile_shape) %></td>
    <td><%= link_to 'Destroy', context_feature_profile_shape, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Context feature profile shape', new_context_feature_profile_shape_path %>
