<%= form_for(@ceramic_vessel_category) do |f| %>
  <% if @ceramic_vessel_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ceramic_vessel_category.errors.count, "error") %> prohibited this ceramic_vessel_category from being saved:</h2>

      <ul>
      <% @ceramic_vessel_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ceramic_vessel_category %><br />
    <%= f.text_field :ceramic_vessel_category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
