<%= form_for(@gen_object_manufacture_country) do |f| %>
  <% if @gen_object_manufacture_country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gen_object_manufacture_country.errors.count, "error") %> prohibited this gen_object_manufacture_country from being saved:</h2>

      <ul>
      <% @gen_object_manufacture_country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :object_manufacture_country %><br />
    <%= f.text_field :object_manufacture_country %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
