<h1>Listing ceramic_colono_thicknesses</h1>

<table>
  <tr>
    <th>Ceramic completeness</th>
    <th>Colono sherd thickness</th>
    <th>Generate context artifact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ceramic_colono_thicknesses.each do |ceramic_colono_thickness| %>
  <tr>
    <td><%= ceramic_colono_thickness.ceramic_completeness_id %></td>
    <td><%= ceramic_colono_thickness.colono_sherd_thickness %></td>
    <td><%= ceramic_colono_thickness.generate_context_artifact_id %></td>
    <td><%= link_to 'Show', ceramic_colono_thickness %></td>
    <td><%= link_to 'Edit', edit_ceramic_colono_thickness_path(ceramic_colono_thickness) %></td>
    <td><%= link_to 'Destroy', ceramic_colono_thickness, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ceramic colono thickness', new_ceramic_colono_thickness_path %>
