<p id="notice"><%= notice %></p>

<p>
  <b>Object shape:</b>
  <%= @gen_object_shape.object_shape %>
</p>

<p>
  <b>Object type:</b>
  <%= @gen_object_shape.object_type_id %>
</p>


<%= link_to 'Edit', edit_gen_object_shape_path(@gen_object_shape) %> |
<%= link_to 'Back', gen_object_shapes_path %>
