                    <div class="block <%= @decoration_colored == true ? 'colored' : '' %>">
                      <div class="three-columns three-with-delete">
                          <div class="row-area">
                                <div class="col">
																	<%= f.label('BeadDecorationID', 'Decoration')%>
																	<%= f.collection_select('BeadDecorationID', BeadDecoration.all.order('"BeadDecoration"'), :id, 'BeadDecoration', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
                                </div>
                                <div class="col">
																	<%= f.label('MunAppColorID', 'Color')%>
																	<div class="clearfix">
																		<%= f.collection_select('MunAppColorID', MunsellAppliedColor.all.order('"AppliedColorWrittenDescription"'), :id, 'AppliedColorWrittenDescription', {:include_blank => '--select--'}, {'data-placeholder' => '--select--', :class => 'form-control'})%>
																	</div>
                                </div>
                                <div class="col">
																	<%= f.label('DecDescription', 'Description')%>
																	<%= f.text_area('DecDescription', {:class => 'form-control'})%>
                                </div>
																<%= f.hidden_field :_destroy %>
																<a href="#" data-toggle="modal" data-target="#decoration-alert-modal" class="decoration-delete-link delete" tabindex="-1">Delete</a>
														</div>
													</div>
<div class="number" style="display:none">_NUM_</div>
                    </div><!-- block -->
