<script>
$(document).ready(function(){
	
	$('.new-bead-type').click(function() {
		// alert('a');
		$('#artifact_selection').val('bead');
		$('#artifact_selection').trigger('chosen:updated')
		
	})
	
	var completeness_for_delete;
	var id_to_delete;
	
	$("#list_selection input").change(function() {
	     this.form.submit();
	});
	$("#list_selection select").change(function() {
	     this.form.submit();
	});
	if ($('.ceramics-list .delete-tr').exists()) {
		$('.ceramics-list .delete-tr').click(function(){
			id_to_delete = $(this).attr('id');
			completeness_for_delete = $(this).parents('.holder-for-delete');
		});
	}
	if ($('#alert-modal').exists()) {
		$('#alert-modal').on('hidden.bs.modal', function (e) {
			completeness_for_delete = "";
		})
		$('#alert-modal .delete-list').click(function(){
			if (completeness_for_delete) {
				completeness_for_delete.remove();
			}
			$.ajax({
			  url: "/beads/"+id_to_delete,
			  type: "DELETE"
			});
			$('.alert-success').slideDown();
			setTimeout(function(){
				$('.alert-success').slideUp();
			}, 3000)
			$('#alert-modal').modal('hide')
		});
	}
	
	// $('#per_page').chosen({width: 100px});
});
</script>
<div class="list-head">
	<div class="page-header page-header-005">
		<h1>Bead List</h1>
		<% if current_user.is_editor? %>
		<a href="#" data-toggle="modal" data-target="#add-new" class="add-new new-bead-type">Add New</a>
		<% end %>
	</div><!-- page-header -->
	<div class="alert alert-success success-deleted" style="display:none">
		<p>Successfully deleted artifact!</p>
	</div><!-- end alert -->
	<div class="list-panel">
		<div class="block">
			<!-- <span class="page-info">Page <%= @page %> of <%= @total_pages %></span> -->
			<div class="search">
				<%= form_tag({:controller => 'beads', :action => 'index'}, :method => 'get') do %>
					<fieldset>
						<input type="hidden" name="artifacts" value="<%= params[:artifacts] %>">
						<input type="hidden" name="per_page" value="<%= params[:per_page] != nil ? params[:per_page] : 25 %>">
						<input type="text" class="text" value="<%= params[:query] != nil ? params[:query] : '' %>" name="query"/>
						<input type="submit" class="btn submit" value="Search" />
					</fieldset>
				<% end %>
			</div><!-- end search -->
		</div><!-- end block -->
		</div>
		<div class="list-panel">
		<div class="filter">
			<%= form_tag({:controller => 'beads', :action => 'index'}, :method => 'get', :id => 'list_selection') do %>
				<input type="hidden" name="query" value="<%= params[:query] %>">
				<fieldset>
					<ul class="radio-block">
						<li>
							<input type="radio" class="radio" name="artifacts" id="lbl-001" <%= params[:artifacts] == 'my_artifacts' ? 'checked' : '' %> value="my_artifacts"/>
							<label for="lbl-001">My Artifacts</label>
						</li>
						<li>
							<input type="radio" class="radio" name="artifacts" id="lbl-002" <%= params[:artifacts] != 'my_artifacts' ? 'checked' : '' %> value="all_artifacts"/>
							<label for="lbl-002">All Artifacts</label>
						</li>
					</ul><!-- end radio-block -->
					<ul class="radio-block total-found">
						<li>
							<%= @total %> items found
						</li>
					</ul>
					<div class="top-pagination">
						<%= paginate @beads, :window => 2 %>
					</div>
					<div class="select-block per-page">
						<label for="per_page">Results per Page</label>
						<select id="per_page" class="per-page sel-001" name="per_page">
							<%= options_for_select(['25','50','100'], params[:per_page])%>
						</select>
					</div><!-- end select-block -->
				</fieldset>
			<% end %>
		</div><!-- end filter -->
	</div><!-- end list-panel -->
</div><!-- end list-head -->
<div class="ceramics-list">

	<table class="bordered">
	  <tr>
	    <th class="cell-02">Artifact ID</th>
	    <th class="cell-03">Project</th>
	    <th class="cell-04">Count</th>
	    <th class="cell-05">Material</th>
	    <th class="cell-06">Manu Tech</th>
	    <th class="cell-07">Shape</th>	
	    <th class="cell-08">Color</th>
	    <th class="cell-09">Last Updated</th>
	  </tr>
		<% projects = current_user.projects %>
		<% edit_projects = current_user.edit_projects %>
		<% deletable_projects = current_user.deletable_projects %>
		<% is_admin = current_user.is_admin? %>
	<% @beads.each do |artifact| %>
	  <tr class="holder-for-delete">
			<td class="cell-02">
				<p>
					<%# if (artifact.project != nil and @projects.include? artifact.project.ProjectID) or current_user.user_level >= 3 %>
					<% if edit_projects.include?(artifact.project) or current_user.is_admin? %>
						<%= link_to artifact.generate_context_artifact.ArtifactID, edit_bead_path(artifact) %>
					<% else %>
						<%= artifact.ArtifactID %>
					<% end %>
				</p>
				<%# if (artifact.project != nil and @projects.include? artifact.project.ProjectID)  or current_user.user_level >= 3%>
				<% if edit_projects.include?(artifact.project) or is_admin %>
				<ul>
					<li><%= link_to 'Edit', edit_bead_path(artifact) %></li>
					<li><%= link_to('Duplicate', {:action => 'duplicate', :id => artifact[:id]})%>
						<% if deletable_projects.include?(artifact.project) or is_admin %>
					<li><a href="#" id="<%= artifact[:id] %>" data-toggle="modal" data-target="#alert-modal" class="delete-tr">Delete</a></li>
					<% end %>
				</ul>
				<% end %>
			</td>
			<td class="cell-03"><%= artifact.generate_context_artifact.context_sample.context.project.project_name.ProjectName rescue '='%></td>
			<td class="cell-04"><%= artifact.Quantity %></td>
	 		<td class="cell-05"><%= artifact.bead_material.BeadMaterial if artifact.bead_material != nil%></td>
			<td class="cell-06"><%= artifact.bead_manu_tech.BeadManuTech if artifact.bead_manu_tech != nil %></td>
			<td class="cell-07"><%= artifact.bead_shape.BeadShape if artifact.bead_shape != nil %></td>
	 		<td class="cell-08"><%= artifact.bead_basic_color.BasicColor if artifact.bead_basic_color != nil %></td>
			<td class="cell-09"><%= artifact.DateChanged !=nil ? artifact.DateChanged.strftime("%m/%d/%Y") : artifact.DateAdded.strftime("%m/%d/%Y") %></td>
	  </tr>
	<% end %>
	</table>
</div>

<%= paginate @beads, :window => 2 %>

<br />

<div class="modal alert-modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Alert</h4>
            </div>
            <div class="modal-body">
                <p class="txt">Are you sure you want to delete?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button class="btn btn-warning delete-list">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- alert-modal -->

<%#= link_to 'New Ceramic', new_ceramic_path %>
