<p id="notice"><%= notice %></p>

<p>
  <b>Object manu tech:</b>
  <%= @gen_object_manu_tech.object_manu_tech %>
</p>

<p>
  <b>Object type:</b>
  <%= @gen_object_manu_tech.object_type_id %>
</p>


<%= link_to 'Edit', edit_gen_object_manu_tech_path(@gen_object_manu_tech) %> |
<%= link_to 'Back', gen_object_manu_teches_path %>
